<div class="col m12 l6">
    <div class="card white hoverable">
        <div class="card-content">
            <span class="card-title"><i class="material-icons small left grey-text text-darken-2">bookmark</i><a href="{{ .Permalink }}">{{ .Title }}</a></span>
            <p class="summary">
            {{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}
            </p>
        </div>
        <div class="card-action">
            <div class="left-align row">
            <i class="material-icons left">today</i>
                {{ with .Site.Params.date_format }}{{ $.Date.Format . }}{{ else }}{{ $.Date.Format "2006-01-02 Mon"}}{{ end }}
            </div>
            <div class="center-align">
                <a href="{{ .Permalink }}" class="waves-effect waves-light btn"><i class="material-icons right">open_in_new</i>READ</a>
            </div>
        </div>
    </div>
</div>
<script>
    $("p.summary").trunk8({
        lines: 3
    });
    $("span.card-title").trunk8({
        lines: 1
    });
</script>
